body{
    background: rgba(218,240,255,1);
    font-family: 'Barlow', Times, serif;
    width: 100%;
}

aside {
    background: rgb(143,211,254);
    background: linear-gradient(90deg, rgba(143,211,254,1) 0%, rgba(101,226,255,1) 50%, rgba(218,240,255,1) 100%);
    border: 1px solid black;
    height: 600px;
    width: 35%;
    float: left;
}

footer {
    height: 100px;
    text-align: center;
}

footer p {
    padding-top: 50px;
}

header {
    height: 15%;
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
}

h1 {
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 20px;
}

h2 {
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
}

#primaryContent {
    float: left;
}

#imageContainer {
    float: left;
    width: 60%;
}

img {
    border: 1px solid black;
    height: 250px;
    width: 30%;
    float: left;
    margin-left: 10px;
}

p {
    font-size: 25px;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 75px;
}

/* Chart replaced paragraph */
/* #paragraph {
    float: left;
    margin: 25 10;
    width: 60%;
} */

ul {
    margin-top: 15px;
    padding-left: 50px;
}
li {
    line-height: 25px;
    list-style-type: disc;
  }